.autocomplete {
    position: relative;
}

.autocomplete p{
    font-size: 14px;
    font-weight: lighter;
    font-style: initial;
    padding-left: 12px;
    width: 270px;
}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.autocomplete-item {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}
.autocomplete-input{
    height: 50px;
    margin-bottom: 3px;
}
.selected-keywords{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 270px;
    margin: 0px 8px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}
.selected-keyword{
    margin-left: 10px;
}
.selected-keywords button{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #757575;
    border-radius: 20%;
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
}
.selected-keywords button:hover{
    background-color: #cccccc;
    border: 1px solid #d0cece;
}
