.title-edit-card{
    text-align: center;
}
.edit-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.edit-block{
    width: 30%;
}
.edit{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    align-items: center;
}
.edit p{
    font-weight: 500;
}
.edit input::placeholder{
    color: black;
}
.button-confirm{
    background-color: #01aafe;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.button-confirm:hover {
    background-color: #2cb2f5;
}