.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 85%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
}
.edit-keywords-container{
    display: flex;
    margin-bottom: 100px;
    position: relative;
}
.edit-keywords-container-button-add{
    border-radius: 5%;
    background-color: white;
    border: 1px solid #757575;
    cursor: pointer;
    height: 50px;
}
.edit-keywords-container-button-add:hover{
    background-color: #cccccc;
}
.edit-keywords-container-button-remove{
    border-radius: 20%;
    background-color: white;
    border: 1px solid #757575;
    cursor: pointer;
    margin-left: 20px;
    height: 25px;
    width: 25px;
    padding: 0;
}
.edit-keywords-container-button-remove:hover{
    background-color: #cccccc;
}

