.set-profile-container{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 33%;
    align-items: start;
}

.set-page-name{
    padding: 0% 25% 2% 25%;
    border-bottom: 1px solid #757575;
}
.set{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
    margin-top: 3%;
}
.set p{
    font-size: 18px;
}
.set-input{
    height: 50px;
}
.button-confirm{
    width: 200px;
    padding: 10px 20px;
}
.remove-profile{
    background-color: #F16164;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin-top: 25px;
}

.remove-profile:hover {
    background-color: #f67e81;
}
